@import "variables.scss";

.login-container {
  max-width: 520px;
  margin: 50px auto;

  mat-form-field {
    width: 100%;
    display: block;
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    a {
      color: $white;
    }
  }
}

::ng-deep {
  .mat-form-field.mat-focused .mat-form-field-label {
    color: $white;
  }

  .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: $white;
  }
}
