<section>
  <mat-toolbar id="navbar">
    <div class="logo-container">
      <a [routerLink]="['/']">WET</a>
    </div>

    <div class="menu-container">
      <ul class="nav">
        <li *ngIf="hasDevices"><a [routerLink]="['groups']">Groups</a></li>
        <li>
          <a *ngIf="!authService.isAuthenticated" [routerLink]="['auth']"
            >Login</a
          >
        </li>
        <li>
          <a *ngIf="authService.isAuthenticated" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </mat-toolbar>
</section>
