@import "variables.scss";

.groups-container {
  .group-container {
    padding-top: 1em;

    .group-card-container {
      text-align: center;
      .buttons-container {
        display: flex;
        justify-content: space-around;

        .button-container {
          button {
            color: $white;
            background: transparent;
            outline: none;
            font-size: 3em;
            border: none;
            height: 100px;
            width: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}

.group-form {
  ::ng-deep .mat-form-field {
    width: 100%;
    .mat-input-element {
      color: $dark-blue;
    }
    .mat-form-field-label {
      color: $dark-blue;
    }
    .mat-form-field-underline {
      background-color: $dark-blue;
    }
    .mat-form-field-ripple {
      background-color: $dark-blue;
    }
    .mat-form-field-required-marker {
      color: $dark-blue;
    }
  }
  ::ng-deep .mat-form-field.mat-form-field-invalid {
    .mat-input-element {
      color: $light-orange;
    }
    .mat-form-field-label {
      color: $light-orange;
      .mat-form-field-required-marker {
        color: $light-orange;
      }
    }
    .mat-form-field-ripple {
      background-color: $light-orange;
    }
  }
}

#add-button-card {
  max-width: 108px;
  button {
    height: 75px;
    width: 75px;
  }
}
