@import "variables.scss";

.spinner-container {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;

  .spinner {
    font-size: 4em;
    color: $white;
  }
}
